/* GENERAL */
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
html {
    scroll-behavior:smooth;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: gray;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    padding: 8px 12px;
    width:max-content;
    max-width: calc(100vw - 10px);
    white-space: nowrap;
    z-index: 999;
}

/* ===== NAV LINKS ===== */
.navbar a {
    text-decoration:none;
    color: black;
    font-size: clamp(1px, 3vw, 25px);
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 10px;

    display: inline-flex;
    min-width: 0;
    max-width: 30vw;
    flex: 0 1 auto;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar a:hover {
    background-color: lightgray;
    cursor: pointer;
}
/* HOME */
.myname {
    height:800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-size:clamp(1px, 9vw, 100px);
    color: black;

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 95px;
}
.btn {
    padding: 10px 20px;
    background-color: gray;
    color: rgb(18, 17, 17);
    text-decoration: none;
    font-size: clamp(1px, 1.5vw, 40px);
    border-radius: 6px;
    font: weight 500px;;
    font-family: Arial, Helvetica, sans-serif;
}
.btn:hover {
    background-color: lightgray;
}
hr {
    margin-top: 100px;
    margin-bottom: 100px;
    border-top: 2px solid black;
    width: 100%;
}

/* PROJECTS NAVBAR */
.project-header {
    text-align: center;
    font-size: clamp(1px, 9vw,95px);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
}
.projects-navbar {
    background-color: gray;
    width: 100%;
    height: auto;
}
.projects-navbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    font-size: clamp(1px, 7vw,65px);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: black;
    white-space: nowrap;
}
.projects-navbar a:hover {
    background-color: lightgray;
    cursor: pointer;
}
.kooth-header,.wise-header,.wildfell-header, .nhs-header,.darkcloud-header,.contact-header, .aboutme-header {    
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    width: 100%;
    font-size: clamp(1px, 8vw, 85px);
    padding: 10px;
    white-space: nowrap;
}
.taf-header{
     text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    width: 100%;
    font-size: clamp(1px, 6.5vw, 85px);
    padding: 10px;
    white-space: nowrap;
     margin-bottom: 80px;
}
.image-row-1,.image-row-2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-evenly;
  align-items: first baseline;
}
.image-row-1 img ,.image-row-2 img{
  width: 30%;         
  height:auto;
  object-fit: contain;
  flex-shrink: 1;
}
.kooth-description,.tb-descripton, .nhs-desc, .wise-desc, .wildfell-desc,.aboutme-description,.darkcloud-desc{
    text-align: center;
    font-weight: lighter;
    color: rgb(26, 25, 25);
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 50px;
    font-size: clamp(1px, 3.5vw, 45px);
    line-height: 1.5;
}

.nhs-wrap {
  position: relative;
  width: auto;
  max-width: 50%;      
  margin: 0 auto;            
  aspect-ratio: 16/9;
}

.nhs-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}
.wise-wrap {
  position: relative;
  width: auto;
  max-width: 25%;      
  margin: 0 auto;            
  aspect-ratio: 5/8; 
}
.wise-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}
.wildfell-image {
    display: block;
    margin: auto;
    width: 65%;
    max-width: 100%;
}
.dark-wrap {
  position: relative;
  width: auto;
  max-width: 50%;      
  margin: 0 auto;            
  aspect-ratio: 16/9;
}
.dark-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}
.contact-description{
    font-size: clamp(1px, 4vw, 25px);
    margin: 20px;
}
.contact-description a {
    text-decoration: underline;
    font-size: clamp(1px, 4vw, 25px);
}
.linkedinprofile {
    font-size: clamp(1px, 4vw, 25px);
    font-weight: lighter;
    margin: 20px;
}
.footerend {
    text-align: center;
    font-size: 1vw;
}

@media (max-width:600px) {
        .navbar {
        padding: 4px;
        gap:2px;
    }
    .navbar a {
        padding: 1px 6px;
        max-width:fit-content;
    }
    .myname{
        max-height: 550px;
    }
    .button-container{
        margin-bottom: 40px;
    }
    .btn {
        padding:5px 10px;
        font-size: 3.5vw;
    }
    .projects-navbar a {
        padding: 35px;
    }
    .kooth-header,.wise-header,.nhs-header,.contact-header,.aboutme-header,.wildfell-header,.project-header,.darkcloud-header,.taf-header{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .kooth-description,.tb-descripton,.wildfell-desc,.wise-desc,.nhs-desc,.aboutme-description,.darkcloud-desc
    { 
      margin: 20px; 
      font-size: 4.5vw;
      padding: 25px;
    }
    .image-row-1 img, .image-row-2 img {
        width: 40%;
    }
    .nhs-wrap{
        max-width: 80%;
        height:50%;
    }
    .wise-wrap{
        max-width: 40%;
    }
    .dark-wrap{
        max-width: 80%;
        height: auto;
    }
    .footerend{
        font-size: 2vw;
    }
    .hr {
        margin-top: 50px;
        margin-bottom: 50px;
       width: 100%;
       border:0.25px solid black;
} }

    









    
